@model EmergencyInformationSystem.Models.ViewModels.GreenPaths.DetailsAmiPrint.DetailsAmiPrint

@{
    ViewBag.Title = "绿色通道信息表-急性心肌梗死";
}

<div>
    <a href="javascript:printme()" target="_self" class="btn btn-default">打印</a>
</div>

<div id="PrintArea">
    <table class="table table-bordered">
        <tr>
            <td colspan="12">
                <div class="text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </td>
        </tr>

        @*基本信息*@

        <tr>
            <td colspan="12">
                <div class="print-table-header">基本信息</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.PatientName)
                :
                @Html.DisplayFor(model => model.PatientName)
            </td>
            <td colspan="2">
                @Html.DisplayNameFor(model => model.OutPatientNumber)
                :
                @Html.DisplayFor(model => model.OutPatientNumber)
            </td>
            <td colspan="2">
                @Html.DisplayNameFor(model => model.Sex)
                :
                @Html.DisplayFor(model => model.Sex)
            </td>
            <td colspan="2">
                @Html.DisplayNameFor(model => model.ReceiveAgeName)
                :
                @Html.DisplayFor(model => model.ReceiveAgeName)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.ReceiveTime)
                :
                @Html.DisplayFor(model => model.ReceiveTime)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.FirstDoctorName)
                :
                @Html.DisplayFor(model => model.FirstDoctorName)
            </td>
            <td colspan="9">
                @Html.DisplayNameFor(model => model.DiagnosisNameOrigin)
                :
                @Html.DisplayFor(model => model.DiagnosisNameOrigin)
            </td>
        </tr>

        @*入室信息*@

        <tr>
            <td colspan="12">
                <div class="print-table-header">入室信息</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.OccurrenceTime)
                :
                @Html.DisplayFor(model => model.OccurrenceTime)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.InDepartmentTime)
                :
                @Html.DisplayFor(model => model.InDepartmentTime)
            </td>
            <td colspan="2">
                @Html.DisplayNameFor(model => model.BedNameFull)
                :
                @Html.DisplayFor(model => model.BedNameFull)
            </td>
            <td colspan="4">
                @Html.DisplayNameFor(model => model.InRescueRoomWayNameFull)
                :
                @Html.DisplayFor(model => model.InRescueRoomWayNameFull)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DuringOccurrenceToInDepartment)
                :
                @Html.DisplayFor(model => model.DuringOccurrenceToInDepartment)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DuringInDepartmentToReceive)
                :
                @Html.DisplayFor(model => model.DuringInDepartmentToReceive)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.FirstNurseName)
                :
                @Html.DisplayFor(model => model.FirstNurseName)
            </td>
            <td colspan="3"></td>
        </tr>

        @*处理信息*@

        <tr>
            <td colspan="12">
                <div class="print-table-header">处理信息</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.CriticalLevelName)
                :
                @Html.DisplayFor(model => model.CriticalLevelName)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.RescueResultNameFull)
                :
                @Html.DisplayFor(model => model.RescueResultNameFull)
            </td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.EcgFirstTime)
                :
                @Html.DisplayFor(model => model.EcgFirstTime)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.EcgSecondTime)
                :
                @Html.DisplayFor(model => model.EcgSecondTime)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DuringInDepartmentToEcgFirst)
                :
                @Html.DisplayFor(model => model.DuringInDepartmentToEcgFirst)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DuringInDepartmentToEcgSecond)
                :
                @Html.DisplayFor(model => model.DuringInDepartmentToEcgSecond)
            </td>
        </tr>

        @*检查信息*@
        
        @Html.Partial("DetailsAmiPrint_ListRescueRoomImageRecord", Model.ListRescueRoomImageRecord)

        @*会诊信息*@

        @Html.Partial("DetailsAmiPrint_ListRescueRoomConsultation", Model.ListRescueRoomConsultation)

        @*用药信息*@

        @Html.Partial("DetailsAmiPrint_ListRescueRoomDrugRecord", Model.ListRescueRoomDrugRecord)

        @*治疗信息*@

        @Html.Partial("DetailsAmiPrint_ListRescueRoomTreatmentRecord", Model.ListRescueRoomTreatmentRecord)

        @*离室信息*@
        <tr>
            <td colspan="12">
                <div class="print-table-header">离室信息</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.FinishPathTime)
                :
                @Html.DisplayFor(model => model.FinishPathTime)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.OutDepartmentTime)
                :
                @Html.DisplayFor(model => model.OutDepartmentTime)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.IsHeldUpString)
                :
                @Html.DisplayFor(model => model.IsHeldUpString)
            </td>
            <td colspan="3">
                @if (Model.IsHeldUp)
                {
                    @Html.DisplayNameFor(model => model.DuringPathHeldUp)
                    <span>:</span>
                    @Html.DisplayFor(model => model.DuringPathHeldUp)
                }
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.During)
                :
                @Html.DisplayFor(model => model.During)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.During)
                :
                @Html.DisplayFor(model => model.During)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DuringDetained)
                :
                @Html.DisplayFor(model => model.DuringDetained)
            </td>
            <td colspan="3">
                @Html.DisplayNameFor(model => model.DestinationNameFull)
                :
                @Html.DisplayFor(model => model.DestinationNameFull)
            </td>
        </tr>
        <tr>
            <td colspan="6">
                @Html.DisplayNameFor(model => model.Problem)
                :
                @Html.DisplayFor(model => model.Problem)
            </td>
            <td colspan="6">
                @Html.DisplayNameFor(model => model.Remarks)
                :
                @Html.DisplayFor(model => model.Remarks)
            </td>
        </tr>
    </table>
</div>

<script language="javascript">
    function printme() {
        document.body.innerHTML = document.getElementById('PrintArea').innerHTML;
        window.print();
    }
</script>