@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.GreenPaths.DetailsAmiPrint.ItemRescueRoomImageRecord>

<tr>
    <td colspan="12">
        <div class="print-table-header">检查信息</div>
    </td>
</tr>
<tr class="text-center">
    <td colspan="2">
        @Html.DisplayNameFor(model => model.BookTime)
    </td>
    <td colspan="2">
        @Html.DisplayNameFor(model => model.CheckTime)
    </td>
    <td colspan="2">
        @Html.DisplayNameFor(model => model.ReportTime)
    </td>
    <td colspan="2">
        @Html.DisplayNameFor(model => model.Part)
    </td>
    <td colspan="2">
        @Html.DisplayNameFor(model => model.Category)
    </td>
    <td colspan="2">
        @Html.DisplayNameFor(model => model.ImageCategoryName)
    </td>
</tr>

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="12">
            无
        </td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr class="text-center">
            <td colspan="2">
                @Html.DisplayFor(c => item.BookTime)
            </td>
            <td colspan="2">
                @Html.DisplayFor(c => item.CheckTime)
            </td>
            <td colspan="2">
                @Html.DisplayFor(c => item.ReportTime)
            </td>
            <td colspan="2">
                @Html.DisplayFor(c => item.Part)
            </td>
            <td colspan="2">
                @Html.DisplayFor(c => item.Category)
            </td>
            <td colspan="2">
                @Html.DisplayFor(c => item.ImageCategoryName)
            </td>
        </tr>
    }
}