<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 急诊数据管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("急诊数据管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand btn-show-modal" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("抢救室", "Index", "RescueRoomInfos", null, new { @class = "btn-show-modal" })</li>
                    <li>@Html.ActionLink("留观室", "Index", "ObserveRoomInfos", null, new { @class = "btn-show-modal" })</li>
                    <li>@Html.ActionLink("绿色通道", "Index", "GreenPaths", null, new { @class = "btn-show-modal" })</li>
                    <li>@Html.ActionLink("报表中心", "Index", "Reports", null, new { @class = "btn-show-modal" })</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HIMS(Ver5.3.21.0)</p>
        </footer>
    </div>

    @* Modal Waiting *@
    <div class="modal" id="ModalMain" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    载入中，请稍后…
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>