@model IGrouping<Guid, EmergencyInformationSystem.Models.Domains.Entities.RescueRoomDrugRecord>

<tr>
    <th colspan="5">
        <br />
    </th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.PrescriptionTime)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DosageQuantityFull)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Usage)
        </td>
    </tr>
}
