@{
    ViewBag.Title = "主界面";
}

<div class="container">
    <ol class="breadcrumb">
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<div class="jumbotron">
    <h1>
        急诊数据管理系统
        <small>
            （Ver6.0）
        </small>
    </h1>

    <br />

    <p>@Html.ActionLink("抢救室病例信息一览表", "Index", "RescueRoomInfos2", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <br />
    <p>@Html.ActionLink("留观室病例信息一览表", "Index", "ObserveRoomInfos2", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <br />
    <p>@Html.ActionLink("创伤复苏单元病例信息一览表", "Index", "ResuscitateRoomInfos", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <br />
    <p>@Html.ActionLink("绿色通道", "Index", "GreenPaths", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <br />
    <p>@Html.ActionLink("报表中心", "Index", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}