@model EmergencyInformationSystem.Models.ViewModels.RescueRoomInfos2.TransferRoom.TransferRoom2

@{
    ViewBag.Title = "抢救室病例信息表 - 转室";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("抢救室病例信息一览表", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">转室</li>
    </ol>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger alert-danger" })

    @Html.HiddenFor(model => model.GeneralRoomInfoId)
    @Html.HiddenFor(model => model.JZID)

    <div class="container">
        @*标题*@
        <div class="row RescueRoomMainTitleRow">
            <div class="h2 RescueRoomMainTitleCell">
                @ViewBag.Title
            </div>
        </div>

        <hr />

        @*入室*@
        <div class="form-group col-md-offset-1">
            @Html.LabelFor(model => model.RoomId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("RoomId", null, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group RescueRoomSecondTitleSubmitBlock">
            <div class="col-md-offset-1 col-md-9">
                <input type="submit" value="确定" class="btn btn-info btn-show-modal" />
                @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-info btn-show-modal" })
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}