@model EmergencyInformationSystem.Models.ViewModels.Reports.IndexSubscription.IndexSubscription

@{
    ViewBag.Title = "床位预约表";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("报表中心", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<table>
    <tr>
        <td rowspan="2">
            <h2>@ViewBag.Title</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div>
                @Html.ActionLink("刷新", "IndexSubscription", null, new { @class = "btn btn-default btn-show-modal" })
            </div>
        </td>
    </tr>
</table>

<h3>@Html.DisplayFor(model => model.Time)</h3>

<br />

@*列表区*@
@Html.Partial("IndexSubscription_List", Model.List)

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}