@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.IndexRescueRoomRescue.Item>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.OutPatientNumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.InDepartmentTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.During)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td class="text-center">
                    @Html.ActionLink(item.OutPatientNumber, "Details", "RescueRoomInfos", new { id = item.RescueRoomInfoId }, new { target = "_blank" })
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.InDepartmentTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.During)
                </td>
            </tr>
        }
    </tbody>
</table>