@model EmergencyInformationSystem.Models.ViewModels.Reports.IndexDestination.IndexDestination

@{
    ViewBag.Title = "月报表去向项表";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("报表中心", "Index")</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<h2>@ViewBag.Title</h2>

@Html.Partial("IndexDestinationList", Model.List)