
@{
    ViewBag.Title = "报表中心";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<div class="jumbotron">
    <h1>
        @ViewBag.Title
    </h1>

    <h3>抢救室</h3>
    <p>@Html.ActionLink("抢救室交班表", "IndexRescueRoomHandOver", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <p>@Html.ActionLink("抢救室日报表", "IndexRescueRoomDay", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <p>@Html.ActionLink("抢救室月报表", "StatisticsRescueRoomMonth", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <p>@Html.ActionLink("抢救室综合报表（试用）", "StatisticsRescueRoomGeneral", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>

    <h3>留观室</h3>
    <p>@Html.ActionLink("留观室交班表", "IndexObserveRoomHandOver", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <p>@Html.ActionLink("留观室日报表", "IndexObserveRoomDay", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
    <p>@Html.ActionLink("留观室月报表", "StatisticsObserveRoomMonth", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>

    <p>综合</p>
    <p>@Html.ActionLink("床位预约表", "IndexSubscription", "Reports", null, new { @class = "btn btn-default btn-show-modal" })</p>
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}