@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.Reports.IndexRescueRoomDay.Item>

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th class="text-center" width="80">
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th class="text-center" width="80">
                @Html.DisplayNameFor(model => model.OutPatientNumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DiagnosisNameOrigin)
            </th>
            <th class="text-center" width="130">
                @Html.DisplayNameFor(model => model.FirstDoctorName)
            </th>
            <th class="text-center" width="60">
                @Html.DisplayNameFor(model => model.InDepartmentTime)
            </th>
            <th class="text-center" width="80">
                @Html.DisplayNameFor(model => model.CriticalLevelName)
            </th>
            <th class="text-center" width="40">
                @Html.DisplayNameFor(model => model.RescueResultNameFull)
            </th>
            <th class="text-center" width="110">
                @Html.DisplayNameFor(model => model.GreenPathCategoryNameFull)
            </th>
            <th class="text-center" width="100">
                @Html.DisplayNameFor(model => model.OutDepartmentTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.During)
            </th>
            <th class="text-center" width="100">
                @Html.DisplayNameFor(model => model.DestinationName)
            </th>
            <th class="text-center" width="100">
                @Html.DisplayNameFor(model => model.DiagnosisName)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td class="text-center">
                    @Html.ActionLink(item.OutPatientNumber, "Details", "RescueRoomInfos", new { id = item.RescueRoomInfoId }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisNameOrigin)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FirstDoctorName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.InDepartmentTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CriticalLevelName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.RescueResultNameFull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GreenPathCategoryNameFull)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutDepartmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.During)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiagnosisName)
                </td>
            </tr>
        }
    </tbody>
</table>