@model EmergencyInformationSystem.Models.ViewModels.Reports.IndexRescueRoomDay.IndexRescueRoomDay

@{
    ViewBag.Title = "抢救室日报表";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("报表中心", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

@*标题区*@
<table>
    <tr>
        <td rowspan="2">
            <h2>@ViewBag.Title</h2>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                <div>
                    <input type="date" name="time" value=@((Model.End).ToString("yyyy-MM-dd")) class="form-inline" />
                    <input type="submit" value="选择" class="btn btn-default btn-show-modal" formmethod="get" />
                </div>
            }
        </td>
        <td>
            <div>
                <span>
                    <a href="javascript:printme()" target="_self" class="btn btn-default">打印</a>
                </span>
            </div>
        </td>
    </tr>
</table>

<h3>@Html.DisplayFor(model => model.Start) - @Html.DisplayFor(model => model.End)</h3>

<br />

@*列表区*@
@Html.Partial("IndexRescueRoomDayList", Model.List)

<div id="PrintArea" hidden="hidden">
    <table>
        <tr>
            <td rowspan="2">
                <h2>@ViewBag.Title</h2>
                <small>
                    @Html.DisplayFor(model => model.Start) - @Html.DisplayFor(model => model.End)
                </small>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

    @Html.Partial("IndexRescueRoomDayListPrint", Model.List)
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}

<script language="javascript">
    function printme() {
        document.body.innerHTML = document.getElementById('PrintArea').innerHTML;
        window.print();
    }
</script>