@model EmergencyInformationSystem.Models.ViewModels.Reports.StatisticsIndexRescueRoomDestination.StatisticsIndexRescueRoomDestination

@{
    ViewBag.Title = "抢救室统计项明细去向项一览";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("报表中心", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<h2>@ViewBag.Title</h2>
<h4>@Model.Message</h4>

@Html.Partial("StatisticsIndexRescueRoomDestination_List", Model.List)

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}