@model EmergencyInformationSystem.Models.ViewModels.RescueRoomInfos.Create.Create3

@{
    ViewBag.Title = "抢救室病例信息表 - 新增";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("抢救室病例信息一览表", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">新增</li>
    </ol>
</div>

<div class="container">
    @*标题*@
    <div class="row RescueRoomMainTitleRow">
        <div class="h2 RescueRoomMainTitleCell">
            @ViewBag.Title
        </div>
        <div>
            <p>
                选择需关联的留观室记录。
            </p>
        </div>
        <div class="pull-right">
            @Html.ActionLink("不关联", "Create4", new { Model.JZID }, new { @class = "btn btn-info btn-show-modal" })
        </div>
    </div>

    @*列表区*@
    @Html.Partial("Create3ListObserveRoomInfo", Model.ListObserveRoomInfos)
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}