@model EmergencyInformationSystem.Models.ViewModels.RescueRoomInfos.Create.Create2

@{
    ViewBag.Title = "抢救室病例信息表 - 新增";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("抢救室病例信息一览表", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">新增</li>
    </ol>
</div>

<div class="container">
    @*标题*@
    <div class="row RescueRoomMainTitleRow">
        <div class="h2 RescueRoomMainTitleCell">
            @ViewBag.Title
        </div>
        <div>
            <p>
                选择接诊记录。
                <br />
                如果选择了已经创建的记录，则直接跳转到相应记录，不会新增。
            </p>
        </div>
    </div>

    @*列表区*@
    @Html.Partial("Create2ListGhxx", Model.ListGhxx)
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}