@model IEnumerable<EmergencyInformationSystem.Models.Domains.Entities.RescueRoomImageRecord>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BookTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CheckTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ReportTime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ImageCategory.ImageCategoryName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.BookTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CheckTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ReportTime)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ImageCategory.ImageCategoryName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Part)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
            </tr>
        }
    </tbody>
</table>