@model EmergencyInformationSystem.Models.ViewModels.ObserveRoomInfos.Create.Create

@{
    ViewBag.Title = "留观室病例信息表 - 新增";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("留观室病例信息一览表", "Index")</li>
        <li class="active">新增</li>
    </ol>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger alert alert-danger" })

    <div class="container">
        @*标题*@
        <div class="row RescueRoomMainTitleRow">
            <div class="h2 RescueRoomMainTitleCell">
                @ViewBag.Title
            </div>
        </div>

        <hr />

        @*信息*@

        <div class="row RescueRoomSecondTitleRow">
            <div class="col-md-12 RescueRoomSecondTitle">
                提供信息
            </div>

            <div class="form-group col-md-offset-1 RescueRoomSecondTitleEditBlock">
                @Html.LabelFor(model => model.OutPatientNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OutPatientNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OutPatientNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group RescueRoomSecondTitleSubmitBlock">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="确定" class="btn btn-info" />
        </div>
    </div>
}