@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.ObserveRoomInfos.Create.ItemJzjl>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th class="text-center" width="15%">
                @Html.DisplayNameFor(model => model.FirstDoctorName)
            </th>
            <th class="text-center" width="65%">
                @Html.DisplayNameFor(model => model.DiagnosisNameOrigin)
            </th>
            <th class="text-center" width="15%">
                @Html.DisplayNameFor(model => model.ReceiveTime)
            </th>
            <th width="5%">
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(model => item.FirstDoctorName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => item.DiagnosisNameOrigin)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => item.ReceiveTime)
                </td>
                <td class="text-center">
                    @Html.ActionLink("选择", "Create3", new { JZID = item.ORIGIN_JZID }, new { @class = "label label-default btn-show-modal" })
                </td>
            </tr>
        }
    </tbody>
</table>