@model EmergencyInformationSystem.Models.ViewModels.ObserveRoomInfos.Details.Details

@{
    ViewBag.Title = "留观室病例信息表";
}

@*面包屑区*@
<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("主界面", "Index", "Home", null, new { @class = "btn-show-modal" })</li>
        <li>@Html.ActionLink("留观室病例信息一览表", "Index", null, new { @class = "btn-show-modal" })</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<div class="container">
    @*标题*@
    <div class="row ObserveRoomMainTitleRow">
        <div class="h2 ObserveRoomMainTitleCell">
            @ViewBag.Title
        </div>
    </div>

    @*眉栏*@
    @Html.Action("Header", new { id = Model.ObserveRoomInfoId })

    <hr />

    @*入室*@
    <div class="row ObserveRoomSecondTitleRow">
        <div class="col-md-12 ObserveRoomSecondTitle">
            入室
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.InDepartmentTime)
            :
            @Html.DisplayFor(model => model.InDepartmentTime)
        </div>

        <div class="col-md-2 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.BedNameFull)
            :
            @Html.DisplayFor(model => model.BedNameFull)
        </div>

        <div class="col-md-2 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.FirstNurseName)
            :
            @Html.DisplayFor(model => model.FirstNurseName)
        </div>

        <div class="col-md-5 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.InObserveRoomWayNameFull)
            :
            @Html.DisplayFor(model => model.InObserveRoomWayNameFull)
        </div>

        <div class="col-md-12 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.AdditionalDiagnosis)
            :
            @Html.DisplayFor(model => model.AdditionalDiagnosis)
        </div>
    </div>

    <hr />

    @*预约*@
    <div class="row ObserveRoomSecondTitleRow">
        <div class="col-md-12 ObserveRoomSecondTitle">
            预约
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DestinationFirstName)
            :
            @Html.DisplayFor(model => model.DestinationFirstName)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DestinationFirstTime)
            :
            @Html.DisplayFor(model => model.DestinationFirstTime)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DestinationFirstContact)
            :
            @Html.DisplayFor(model => model.DestinationFirstContact)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DestinationSecondName)
            :
            @Html.DisplayFor(model => model.DestinationSecondName)
        </div>
    </div>

    <hr />

    @*离室*@
    <div class="row ObserveRoomSecondTitleRow">
        <div class="col-md-12 RescueRoomSecondTitle">
            离室
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.OutDepartmentTime)
            :
            @Html.DisplayFor(model => model.OutDepartmentTime)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.During)
            :
            @Html.DisplayFor(model => model.During)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DuringDetained)
            :
            @Html.DisplayFor(model => model.DuringDetained)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.HandleNurse)
            :
            @Html.DisplayFor(model => model.HandleNurse)
        </div>

        <div class="col-md-6 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DiagnosisName)
            :
            @Html.DisplayFor(model => model.DiagnosisName)
        </div>

        <div class="col-md-3 ObserveRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.IsLeaveName)
            :
            @Html.DisplayFor(model => model.IsLeaveName)
        </div>

        <div class="col-md-3 RescueRoomSecondTitleCell">
            @Html.DisplayNameFor(model => model.DestinationNameFull)
            :
            @Html.DisplayFor(model => model.DestinationNameFull)
        </div>
    </div>

    <hr />

    @*按钮*@
    <div class="form-group ObserveRoomSecondTitleSubmitBlock">
        <div class="col-md-offset-1 col-md-9">
            @Html.ActionLink("编辑", "Edit", new { id = Model.ObserveRoomInfoId }, new { @class = "btn btn-info btn-show-modal" })
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/EisNormal")
}