@model EmergencyInformationSystem.Models.ViewModels.ObserveRoomInfos.Header.Header

<div class="row ObserveRoomHeaderRow">
    <div class="col-md-3 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.PatientName)
        :
        <ins>@Html.DisplayFor(model => model.PatientName)</ins>
    </div>
    <div class="col-md-2 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.OutPatientNumber)
        :
        <ins>@Html.DisplayFor(model => model.OutPatientNumber)</ins>
    </div>
    <div class="col-md-2 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.Sex)
        :
        <ins>@Html.DisplayFor(model => model.Sex)</ins>
    </div>
    <div class="col-md-2 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.ReceiveAgeName)
        :
        <ins>@Html.DisplayFor(model => model.ReceiveAgeName)</ins>
    </div>
    <div class="col-md-3 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.ReceiveTime)
        :
        <ins>@Html.DisplayFor(model => model.ReceiveTime)</ins>
    </div>

    <div class="col-md-3 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.FirstDoctorName)
        :
        <ins>@Html.DisplayFor(model => model.FirstDoctorName)</ins>
    </div>
    <div class="col-md-9 ObserveRoomHeaderCell">
        @Html.DisplayNameFor(model => model.DiagnosisNameOrigin)
        :
        <ins>@Html.DisplayFor(model => model.DiagnosisNameOrigin)</ins>
    </div>
</div>