@model IEnumerable<EmergencyInformationSystem.Models.ViewModels.ObserveRoomInfos.Index.Item>

<table class="table table-hover table-condensed table-bordered" style="table-layout:fixed">
    <thead>
        <tr>
            @*眉栏*@
            <th class="alert-link text-center" width="80">
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th class="alert-link text-center" width="80">
                @Html.DisplayNameFor(model => model.OutPatientNumber)
            </th>
            <th class="alert-link text-center" width="60">
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th class="alert-link text-center" width="80">
                @Html.DisplayNameFor(model => model.ReceiveAgeName)
            </th>
            <th class="alert-link text-center" width="200">
                @Html.DisplayNameFor(model => model.DiagnosisNameOrigin)
            </th>
            <th class="alert-link text-center" width="150">
                @Html.DisplayNameFor(model => model.ReceiveTime)
            </th>
            <th class="alert-link text-center" width="80">
                @Html.DisplayNameFor(model => model.FirstDoctorName)
            </th>

            @*入室*@
            <th class="alert-success text-center" width="130">
                @Html.DisplayNameFor(model => model.InDepartmentTime)
            </th>
            <th class="alert-success text-center" width="60">
                @Html.DisplayNameFor(model => model.BedNameFull)
            </th>
            <th class="alert-success text-center" width="80">
                @Html.DisplayNameFor(model => model.FirstNurseName)
            </th>
            <th class="alert-success text-center" width="80">
                @Html.DisplayNameFor(model => model.InObserveRoomWayNameFull)
            </th>

            @*预约*@
            <th class="alert-info text-center" width="110">
                @Html.DisplayNameFor(model => model.DestinationFirstName)
            </th>
            <th class="alert-info text-center" width="130">
                @Html.DisplayNameFor(model => model.DestinationFirstTime)
            </th>
            <th class="alert-info text-center" width="110">
                @Html.DisplayNameFor(model => model.DestinationFirstContact)
            </th>
            <th class="alert-info text-center" width="110">
                @Html.DisplayNameFor(model => model.DestinationSecondName)
            </th>

            @*离室*@
            <th class="alert-danger text-center" width="130">
                @Html.DisplayNameFor(model => model.OutDepartmentTime)
            </th>
            <th class="alert-danger text-center" width="90">
                @Html.DisplayNameFor(model => model.During)
            </th>
            <th class="alert-danger text-center" width="110">
                @Html.DisplayNameFor(model => model.DestinationNameFull)
            </th>
            <th class="alert-danger text-center" width="80">
                @Html.DisplayNameFor(model => model.HandleNurse)
            </th>
            <th class="alert-danger text-center" width="200">
                @Html.DisplayNameFor(model => model.DiagnosisName)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr @(item.IsLeave ? "" : "class=danger")>
            @*眉栏*@
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td class="text-center">
                @Html.ActionLink(item.OutPatientNumber, "Details", new { id = item.ObserveRoomInfoId })
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ReceiveAgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisNameOrigin)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ReceiveTime)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FirstDoctorName)
            </td>

            @*入室*@
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.InDepartmentTime)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BedNameFull)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FirstNurseName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.InObserveRoomWayNameFull)
            </td>

            @*预约*@
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DestinationFirstName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DestinationFirstTime)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DestinationFirstContact)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DestinationSecondName)
            </td>

            @*离室*@
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.OutDepartmentTime)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.During)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DestinationNameFull)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.HandleNurse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisName)
            </td>
        </tr>
    }
</table>